# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb

# NuGet Packages
*.nupkg
**/packages/*

# Visual Studio cache/options
.vscode/
*.cache
*.log

# Others
.DS_store
.agent/
.agents/
.gemini/
scratch/


# TurretEditor local web tool
TurretEditor/node_modules/
TurretEditor/public/
DevTools/turret_editor.db
DevTools/turret_editor.db-shm
DevTools/turret_editor.db-wal
